@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --main-font: 'Roboto Mono', monospace;
  --black: #34373a;
  --white: #D8E1E9;
  --gray: #44494e;
  --light-gray: #c1c8ce;
  --border-radius: 0.5rem;
  --h1: 2rem;
  --h2: 1.5rem;
}

body {
  font-family: var(--main-font);
  background-color: var(--black);
  color: var(--white);
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

/* Main App */
.main {
  margin: 2rem 2rem 2rem 80px;
}

/* Create a Notecard */
.note-card {
  background-color: var(--gray);
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}.note-card input:focus, .note-card textarea:focus {
  outline: none;
}

/* Center the card */
.note-card {
  position: fixed;
  top: 50%; /* Adjust the vertical position */
  left: 50%; /* Adjust the horizontal position */
  transform: translate(-50%, -50%); /* Center the NoteCard */
  width: 90%; /* Set the width */
  max-width: 60%; /* Set maximum width */
  height: 80vh; /* Set the height */
  z-index: 999; /* Ensure the NoteCard is above other elements */
}

.note-card-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.note-card-address {
  color: var(--white);
  background-color: var(--gray);
  border: 0;
  font-family: var(--main-font);
  font-size: var(--h1);
  font-weight: 700;
}

.note-card-title {
  font-size: var(--h2);
  color: var(--white);
  background-color: var(--gray);
  border: 0;
  font-family: var(--main-font);
  font-weight: 700;
  text-align: right;
}

.note-card-content {
  background-color: var(--gray);
  border: 0;
  width: 90%;
  margin: 2rem;
  height: 22rem;
  color: var(--white);
  font-size: var(--h2);
  resize:none;
}

.note-card-content::placeholder, .note-card-citation::placeholder {
  color: var(--light-gray);
  font-size: var(--h2);
}

.note-card-citation {
  background-color: var(--gray);
  border: 0;
  font-family: var(--main-font);
  font-style: italic;
  margin: 2rem;
  color: var(--white);
  font-size: var(--h2);
}

.note-card button {
  background-color: var(--gray);
  border: none;
  font-family: var(--main-font);
  font-size: var(--h2);
  color: var(--white);
  cursor: pointer;
  padding-right: 2rem;
}

.note-card-footer {
  display: flex;
  justify-content: space-between;
}

/* Menubar */

/* MenuBar.css */
.menu-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1.5px solid var(--gray);
  margin: 0.2rem;
}

.menu-item {
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
